@*@model IEnumerable<TheRestaurant.Models.Restaurant>*@
@model IPagedList<Restaurant>

<h2>Index</h2>
<form method="get" action="@Url.Action("Index")" data-otf-ajax="true" data-otf-target="#restaurantList">

	<input type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("AutoComplete")" />
	<input type="submit" value="Search By Name" />

</form>
@Html.Partial("_Restaurants", Model)
